<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main><img src="../../static/images/favicon.ico"/>
    <div class="welcome index">
        <h2>ERROR 500!</h2>
        <hr class="my-3 bg-white w-100" style="align: center"/>
        <h3 class="text-center text-white">Oops! Something went wrong!</h3>
        <h4 class="text-center text-white">We are working to fix the problem! Just navigate to <a th:href="@{/home}">home page</a>...</h4>
    </div>

    <div>
        <img th:src="@{/images/error/500-error.png}" class="center" style="width: 300px; height: 300px"/>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>