<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Пътят към вашия CSS файл -->
</head>

<body>
<header th:replace="~{fragments/commons::header}"></header>

<div class="about">
    <div>
        <h3 th:text="#{about_h1_text}">About us</h3>
        <p th:text="#{about_first_p_text}">Prodavalnik is a place which is based in Bulgaria, designed for buying and selling a wide range of products. Users can create listings for items they want to sell, which might include electronics, clothing, furniture. Buyers browse these listings, compare prices, and make purchases directly through the platform. Prodavalnik aims to streamline transactions and provide a user-friendly experience for both sellers and buyers in the Bulgarian market.
        </p>

        <h4 th:text="#{about_key_features}">Key Features of Prodavalnik</h4>
        <ul class="about-ul">
            <li><b th:text="#{about_first_key_feature_label}">Extensive Shop Selection:</b>
                <p th:text="#{about_first_key_feature}">Browse our stores for a wide range of clothing, electronics and furniture. No matter if you are buying or selling.
                    you'll find something to satisfy you on Prodavalnik.
            </li>
            <li><b th:text="#{about_second_key_feature_label}">User-Friendly Interface:</b>
                <p th:text="#{about_second_key_feature}">Our app is designed with you in mind. Easily search for shops,
                    customize your orders, and navigate through offers with just a few taps.
            </li>
            li><b th:text="#{about_third_key_feature_label}">Reliable Customer Support:</b>
            <p th:text="#{about_third_key_feature}">Our dedicated support team is available 24/7 to assist you with any
                questions or issues. We're here to ensure your experience with Home Delivery is smooth and enjoyable.
                </li>
        </ul>

        <h4 th:text="#{about_join_text}">Join to the Prodavalnik!</h4>
        <p th:text="#{about_last_p_text}">Experience the future of dining with Home Delivery App.
            Register to our app today and start enjoying the convenience of having your favorite restaurant meals
            delivered directly to your home. Whether you're planning a family dinner, hosting a gathering, or
            simply craving a delicious meal, Home Delivery App is here to serve you.
        </p>
    </div>
</div>

</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>
