<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"></span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-50 bg-blur rounded"
          th:method="POST"
          th:action="@{/comments/add-comment}"
          th:object="${addCommentDTO}">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                           th:text="#{add_comment_h1_text}">Give us your feedback!</span></h1>

        <div class="row">

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label th:for="description" class="h4 mb-2" th:text="#{add_comment_comments_label}">Comments</label>
                </div>
                <textarea th:field="*{description}"
                          th:errorclass="is-invalid"
                          type="text" class="form-control"></textarea>
                <div><small class="danger" th:text="#{add_comment_comment_message}">
                    Please provide any other feedback or suggestions!</small></div>
                <small th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}"
                       class="text-danger">Comments error message</small>
            </div>
        </div>

        <div class="row">

            <div class="form-group container">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label th:for="rating" class="h4 mb-2" th:text="#{add_comment_rate_label}">How would you rate our service?</label>
                </div>
                <div><small class="danger"
                            th:text="#{add_comment_rate_message}">1 star being the lowest, 6 stars being the highest</small></div>
                <div th:field="*{rating}"
                     th:errorclass="is-invalid" name="rating"
                     class="rating">
                    <input type="radio" id="star1" name="rating" value="10" /><label for="star1">1 star</label>
                    <input type="radio" id="star2" name="rating" value="9" /><label for="star2">2 stars</label>
                    <input type="radio" id="star3" name="rating" value="8" /><label for="star3">3 stars</label>
                    <input type="radio" id="star4" name="rating" value="7" /><label for="star4">4 stars</label>
                    <input type="radio" id="star5" name="rating" value="6" /><label for="star5">5 stars</label>
                    <input type="radio" id="star6" name="rating" value="5" /><label for="star6">6 stars</label>
                </div>
            </div>

            <div class="row form-group">
                <small th:if="${#fields.hasErrors('rating')}"
                       th:errors="*{rating}"
                       class="text-danger">Rating error message</small>
            </div>

        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info  mb-3" th:text="#{add_comment_button_text}">Add comment</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>