<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <section class="mx-auto w-50 bg-blur rounded">

        <form th:method="POST"
              th:action="@{/offers/add-offer}"
              th:object="${addOfferDTO}">

            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                               th:text="#{add_offer_h1_text}">Add offer</span></h1>

            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label th:for="name" class="h4 mb-2" th:text="#{add_offer_name_label}">Offer name</label>
                    </div>
                    <input th:field="*{name}"
                           th:errorclass="is-invalid"
                           type="text" class="form-control"/>
                    <small th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"
                           class="text-danger">Offer name error message</small>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label th:for="price" class="h4 mb-2" th:text="#{add_offer_price_label}">Price</label>
                    </div>
                    <input th:field="*{price}"
                           th:errorclass="is-invalid"
                           type="number" step="0.1" class="form-control"/>
                    <small th:if="${#fields.hasErrors('price')}"
                           th:errors="*{price}"
                           class="text-danger">Price error message</small>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label th:for="description" class="h4 mb-2" th:text="#{add_offer_description_label}">Description</label>
                    </div>
                    <textarea th:field="*{description}"
                              th:errorclass="is-invalid"
                              type="text" class="form-control"></textarea>
                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class="text-danger">Description error message</small>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label th:for="category" class="h4 mb-2" th:text="#{add_offer_category_label}">Category</label>
                    </div>
                    <select th:field="*{category}"
                            th:errorclass="is-invalid"
                            class="browser-default custom-select">
                        <option value="">Select category</option>
                        <option value="CLOTHES">Clothes</option>
                        <option value="ELECTRONICS">Electronics</option>
                        <option value="FURNITURE">Furniture</option>
                    </select>
                    <small th:if="${#fields.hasErrors('category')}"
                           th:errors="*{category}"
                           class="text-danger">Category error message</small>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label th:for="restaurant" class="h4 mb-2" th:text="#{add_offer_shop_label}">Restaurant</label>
                    </div>
                    <select th:field="*{shop}"
                            th:errorclass="is-invalid"
                            class="browser-default custom-select">
                        <option value="">Select restaurant</option>
                        <option value="PLOVDIV">Plovdiv</option>
                        <option value="BURGAS">Burgas</option>
                        <option value="SOFIA">Sofia</option>
                    </select>
                    <small th:if="${#fields.hasErrors('restaurant')}"
                           th:errors="*{shop}"
                           class="text-danger">Shop error message</small>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label th:for="imageUrl" class="h4 mb-2" th:text="#{add_offer_image_url_label}">Image URL</label>
                    </div>
                    <textarea th:field="*{imageUrl}"
                              th:errorclass="is-invalid"
                              type="text" class="form-control"></textarea>
                    <small th:if="${#fields.hasErrors('imageUrl')}"
                           th:errors="*{imageUrl}"
                           class="text-danger">Image URL error message</small>
                </div>

            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-info mb-3" th:text="#{add_offer_h1_text}">Add offer</button>
            </div>

        </form>

    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>