<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <div class="welcome index">
        <h2>Bad order delivery parameters!</h2>
        <hr class="my-3 bg-white w-100" style="align: center"/>
        <h4 class="text-center text-white">Ensure that your <th:block th:text="${parameter}"></th:block> is correct and try again!</h4>
        <h4 class="text-center text-white">Go back to <a th:href="@{/orders/make-order}">make order page</a>...</h4>
    </div>

    <div>
        <img th:src="@{/images/error/400-error.png}" class="center" style="width: 300px; height: 300px"/>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>tml>