<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <div class="welcome index">
        <h1>Welcome to Prodavalnik - Sell what you don't need, buy what you want!</h1>
        <hr class="my-3 bg-white w-100" style="align: center"/>

        <p class="h4">
            Buy and sell easily! Discover bargains and unique finds. Join now and make successful trades!</p>
        <hr class="my-3 bg-white w-100" style="align: center"/>

        <h3>
            <a class="primary-text" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="primary-text" th:href="@{/users/register}">Register</a>
            now and check our offers.
        </h3>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>