<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::header}"></header>

<main>
    <section class="mx-auto w-75 bg-blur rounded" id="big-div">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                           th:text="#{make_order_h1_text}">Make order</span></h1>

        <div class="row">

            <div class="col-md-6 mb-3">
                <h3 class=" bg-gray text-dark  mb-0 mt-2" th:text="#{make_order_offers_label}">Offers to order</h3>
                <h6 th:text="${cartOffers.getTotalOffersCount()}"
                    class=" bg-gray text-dark  mb-0 mt-0">{totalOffersInCart}</h6>
                <div class="bg-dark rounded m-auto" style="height: 55vh; overflow: auto">
                    <ul th:each="offer : ${cartOffers.getOffersToOrder()}"
                        class="list-group list-group-horizontal text-dark">
                        <li>
                            <img th:src="${offer.getImageUrl()}" alt="Pin" width="80px" height="80px">
                        </li>
                        <table class="list-group-item list-group-item-warning text-dark">
                            <tr>
                                <td th:text="${offer.getName()}" style="width: 30%">{Offer name}</td>
                                <td th:text="#{menu_quantity_label} + ' ' + ${offer.getQuantity()}"
                                    style="width: 15%">Quantity:</td>
                                <td th:text="#{make_order_total_price_label} + ': ' + ${offer.getTotalPrice()} +  ' ' + #{make_order_currency_label}"
                                    style="width: 20%">{Total price}</td>
                                <td style="width: 15%">
                                    <a th:href="@{/orders/remove-from-cart/{id}(id=${offer.getId()})}">
                                        <button class="button-delete-dish">
                                            <img th:src="@{/images/remove.png}" height="30px">
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 mb-3">

                <form th:action="@{/orders/make-order/{totalPrice}(totalPrice=${cartOffers.getTotalPrice()})}"
                      th:method="POST"
                      th:object="${addOrderDTO}">

                    <h3 class=" bg-gray text-dark  mb-0 mt-2"
                        th:text="#{make_order_delivery_details_label}">Delivery details</h3>
                    <h6 th:text="${username}" class=" bg-gray text-dark  mb-0 mt-0">{loggedUsername}</h6>

                    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"></span></h1>

                    <div class="form-group">
                        <div class="label-holder text-white d-flex justify-content-center">
                            <label th:for="deliveryAddress" class="h4 mb-2"
                                   th:text="#{make_order_delivery_address_label}">Delivery address</label>
                        </div>
                        <input th:field="*{deliveryAddress}"
                               th:errorclass="is-invalid"
                               minlength="5" maxlength="100"
                               type="text" class="form-control"/>
                        <small th:if="${#fields.hasErrors('deliveryAddress')}"
                               th:errors="*{deliveryAddress}"
                               class="text-danger">Delivery address error message</small>
                    </div>

                    <div class="form-group">
                        <div class="label-holder text-white d-flex justify-content-center">
                            <label th:for="phoneNumber" class="h4 mb-2"
                                   th:text="#{make_order_phone_number_label}">Phone number</label>
                        </div>
                        <input th:field="*{phoneNumber}"
                               th:errorclass="is-invalid"
                               minlength="7" maxlength="15"
                               type="text" class="form-control"/>
                        <small th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"
                               class="text-danger">Phone number error message</small>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="label-holder text-white d-flex justify-content-center">
                            <h3 name="totalPrice"
                                th:text="#{make_order_total_amount_label} + ': ' + ${cartOffers.getTotalPrice()} +  ' ' + #{make_order_currency_label}"
                                class="h4 mb-2">Total amount:</h3>
                        </div>

                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                            <p class="success" th:text="${errorMessage}"></p>
                        </div>
                    </div>

                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-info mb-3"
                                th:text="#{make_order_h1_text}">Make order</button>
                    </div>

                </form>
            </div>

        </div>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>