<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::header}"></header>

<main>

    <section class="welcome" id="big-div">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                           th:text="#{nav_bar_suppliers}">Our suppliers</span></h1>

        <div class="row">
            <div class="card-partners box-shadow" th:each="supplier : ${suppliers}">
                <img th:src="${supplier.getLogoUrl()}" th:alt="${supplier.getName()}"
                     class="card-img-top" style="height: 225px; width: 335px; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p th:text="${supplier.getName()}"
                           class="card-text border-bottom">Organization name:</p>
                        <p th:text="${supplier.getEmail()}"
                           class="card-text border-bottom">Email:</p>
                        <a th:href="@{${supplier.getSite()}}"
                           class="card-text border-bottom"><p th:text="${supplier.getSite()}">Site:</p></a>
                    </div>
                </div>
                <div sec:authorize="hasRole('ADMINISTRATOR')">
                    <form th:method="DELETE" th:action="@{/suppliers/delete-supplier/{id}(id=${supplier.getId()})}">
                        <div class="button-delete-comment w-100" style="width: 15%">
                            <button type="submit" class="btn btn-danger mb-3"
                                    th:text="#{home_my_orders_delete_label}">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>