<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::header}"></header>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"></span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/users/update}"
          th:method="PUT"
          th:object="${userUpdateInfoDTO}">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                           th:text="#{update_h1_text}">Update profile</span></h1>

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p class="success" th:text="${errorMessage}"></p>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label th:for="updateInfo" class="h4 mb-2" th:text="#{update_property_label}">Select a property to update</label>
            </div>
            <select th:field="*{updateInfo}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select">
                <option value="">Property</option>
                <option value="USERNAME">Username</option>
                <option value="FULL_NAME">Full name</option>
                <option value="EMAIL">Email</option>
                <option value="ADDRESS">Address</option>
                <option value="PHONE_NUMBER">Phone number</option>
            </select>
            <small th:if="${#fields.hasErrors('updateInfo')}"
                   th:errors="*{updateInfo}"
                   class="text-danger">Update info error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="data" class="h4 mb-2" th:text="#{update_new_info_label}">New data</label>
            </div>
            <input th:field="*{data}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control"/>
            <small th:if="${#fields.hasErrors('data')}"
                   th:errors="*{data}"
                   class="text-danger">Data error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info mb-3" th:text="#{update_button_text}">Update</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>